<div>
    <h1> Raport kontroli jakości </h1>
</div>

{% for post in posts %}
    <div>
        <h1></h1>
        <h3>Kontroler: {{ post.controller }}</h3>
        <p>Typ urządzenia: {{ post.unit_type }}</p>
        <p>Numer seryjny: {{ post.serial_number }}</p>
        <p>Uwagi:{{ post.comment}}</p>
        {% if post.inspection_1 == True %}
            <p>Inspekcja nr1: pozytyw </p>
        {% elif post.inspection_1 == False %}
            <p>Inspekcja nr1: negatyw </p>
         {% endif %}

        {% if post.inspection_2 == True %}
            <p>Inspekcja nr1: pozytyw </p>
        {% elif post.inspection_2 == False %}
            <p>Inspekcja nr1: negatyw </p>
         {% endif %}

        {% if post.inspection_3 == True %}
            <p>Inspekcja nr1: pozytyw </p>
        {% elif post.inspection_3 == False %}
            <p>Inspekcja nr1: negatyw </p>

        {% endif %}
    </div>
{% endfor %}

 {% include "pagination.html" with page=posts %}